################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Neo Trinkey/Secret/.vs/Secret/v16
/Neo Trinkey/Secret/Release
/Neo Trinkey/Secret/__vm
