################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Neo Trinkey/Secret/.vs/Secret/v16
