################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Neo Trinkey/Secret/.vs/Secret/v16
/Neo Trinkey/Secret/Release
/Neo Trinkey/Secret/__vm
/Neo Trinkey/Util/.vs/Util/v16
/Neo Trinkey/Util/Release
/Neo Trinkey/Util/__vm
/Release
/__vm

/Circuit Playground/accel_mouse/Release
/Circuit Playground/demo/Release
/Circuit Playground/external_neopixels/Release
/Circuit Playground/FidgetSpinner/Debug
/Circuit Playground/tachometer_led_display/__vm
/Circuit Playground/accel_mouse/__vm
/Circuit Playground/.vs/Circuit Playground/v16
/Circuit Playground/demo/__vm
/Circuit Playground/external_neopixels/__vm
/Circuit Playground/FidgetSpinner/__vm
/Circuit Playground/mega_demo/__vm
/Circuit Playground/comm_badge/Release
/Circuit Playground/comm_badge/__vm
/Circuit Playground/Microphone_Demos/mic_FFT_classic/__vm
/Circuit Playground/Microphone_Demos/Birthday_Candles/__vm
/HUZZAH ESP8266/BasicOTA/.vs/BasicOTA/v16
/HUZZAH ESP8266/BasicOTA/__vm
/HUZZAH ESP8266/BasicOTA/Release
